<!--Footer links-->
<div class="container-fluid border-top-footer">
    <div class="row pt-3">
      <div class="col-sm-6 text-center text-lg-left">
        <p class="footer-description">©2022</p>
      </div>
      <div class="col-sm-6 text-center text-lg-right">
        <p class="footer-description">Built with ♡ by Vishesh Talwar</p>
      </div>
    </div>
</div>
<!-- Fixed Button-->
<div id="mybutton">
  <a href="#main"><button class="gototop"><i class="fas fa-chevron-up"></i></button></a>
  </div>