<!--Navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-color">
      <div class="container-fluid nav-font pt-1 pl-0">
        <div class="col-2 d-none d-sm-none d-md-none d-lg-none d-xl-block"></div>
        <div class="col-1 d-none d-sm-nonce d-md-none d-lg-block d-xl-none"></div>
        
        <a class="navbar-brand col-2 nav-name mr-5" href="#main">Vishesh Talwar</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon position-relative justify-content-sm-end"></span>
        </button>
        <div class="collapse navbar-collapse mx-5" id="navbarNav">
          <ul class="navbar-nav justify-content-center ">
            <li class="nav-item ">
              <a class="nav-link active " aria-current="page" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#jobs">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#about">About me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#contact">Contact</a>
            </li>
            <li class="nav-item work-link d-none d-lg-block ">
              <a class="nav-link work-link-color" href="https://www.linkedin.com/in/vishesh-talwar-3766651b9/" target="_blank">Work request <i class="fas fa-chevron-right ps-1"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>