<!--Background container-->
<div class="container-fluid background-main" id="main">
    <!--Main image-->
    <div class="container">
      <div class="row icon-margin">
        <div class="col" align="center">
          <img
            class="img-fluid icon mt-5"
            src="assets/images/MYPROFILE.jpg"
            alt="Image of Vishesh Talwar"/>
        </div>
      </div>
    </div>

    <!--Name-->
    <div class="container position-relative move-name d-none d-lg-block">
      <div class="row row-cols-auto">
        <div class="col-1 d-md-block d-none d-lg-none"></div>
        <div class="col-sm-2 d-lg-block d-md-none"></div>
        <div class="row name-card">
          <div class="col-sm-1 col-sm-4">
            <h3 class="pt-4 d-none d-lg-block hand">😄</h3>
            <h3 class="pt-1 d-sm-none hand">😄</h3>
          </div>
          <div class="typewriter col-sm-1 col-sm-6 p-1">
            <b>Hi! I am </b> <span class="name"><h1><b>Vishesh</b></h1></span>
          </div>
        </div>
      </div>
    </div>

    <!--UI designer-->
    <div class="container position-relative d-none d-lg-block ui-design-card">
      <div class="row row-cols-auto">
        <div class="col-7"></div>
        <div class="col skills-bubble name-card">UI/UX Designer 📐</div>
      </div>
    </div>

    <!--2D Artist-->
    <div class="container position-relative d-none d-lg-block artist-move">
      <div class="row row-cols-auto">
        <div class="col-6 d-none d-sm-none d-md-block d-lg-block"></div>
        <div class="col artist name-card">SEO | R&D 💡
        </div>
      </div>
    </div>

    <!--Name card for mobile-->
    <div class="container d-block d-lg-none">
      <div class="row row-cols-auto">
        <div class="col-3"></div>
        <div class="col-6" align="center">
          <div class="typewriter col-sm-1 col-sm-6 p-2 salute" align="center">
            👋 Hi! I am <span class="name"><h1>Vishesh</h1></span>
          </div>
        </div>
      </div>
    </div>
    <!--title-->
    <div class="container position-relative moving-title">
      <div class="row">
        <!--Name Card for Mobile-->
        <div class="col-12">
          <h1 class="title d-sm-block d-md-none d-lg-block" align="center">
            Front-End Developer
          </h1>
          <h2
            class="title-smaller d-none d-sm-none d-md-block d-lg-none"align="center">
            Front-End Developer
          </h2>
        </div>
        <div class="col-12 based-in" align="center">
          <h2 class="size-based">Based in New Jersey, United States.</h2>
        </div>
      </div>
    </div>

    <!--Button Let's work-->
    <div class="container button-lets-work">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6" align="center">
          <a href="https://www.linkedin.com/in/vishesh-talwar-3766651b9/" target="_blank" class="nav-link work-link-color lets-work mb-3"
            >Let's work! ></a>
        </div>

        <!--Line vertical-->
        <div class="col-3"></div>
        <div class="container d-flex justify-content-center">
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>