<!--Footer-->
    <div class="container-fluid background-footer">
        <div class="row">
          <!--Line-->
          <div class="container d-flex justify-content-center">
            <div class="line-footer" id="contact"></div>
          </div>
          <div class="col-12 padding-footer">
            <h3
              align="center"
              class="size-quote second-part-quote mobile-size-footer">
              Let's work together!
            </h3>
                  <!--Image Memoji-->
      <div class="row">
        <div class="col-12" align="center">
          <div class="card padding-contact padding-body-contact">
            <div class="card-body">
              <div class="col-12" align="center">
                <img
                  src="assets/images/MYPROFILE.jpg"
                  class="image-contact img-fluid"
                  alt="Profile Photo of Vishesh"/>
              </div>
            </div>
            <!--Email-->
            <div class="container">
              <div class="row" align="center">
                <div class="col-12">
                  <h3 class="email-contact">
                    <a href="mailto:vtalwar9@gmail.com" class="link-email">vtalwar9@gmail.com</a>
                  </h3>
                </div>
              </div>
            </div>
            <!--Another contact option-->
            <div class="container contact-information">
              <div class="row icons-contact" align="center">
                <div class="col-4">
                  <a
                    class="link-email"
                    href="https://www.linkedin.com/in/vishesh-talwar-3766651b9/" target="_blank"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="col-4 margin-mobile-instagram">
                  <a
                    class="link-email"
                    href="https://www.instagram.com/vishesh_talwar/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="col-4">
                  <a class="link-email" href="https://api.whatsapp.com/send/?phone=919971350228" target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
              </div>
            </div>
            <!--End of Card background-->
          </div>
        </div>
      </div>
            <div class="col-12" align="center">
              <a href="tel:+919971350228" style="text-decoration:none;"> <button
                  type="submit"
                  value="Go to Call"
                  class="btn btn-outline-primary">
                  Contact me <i class="fas fa-phone ps-1"></i>
                </button></a>
            </div>
          </div>
        </div>
        
    </div>