<!--Skills container-->
<div class="container-fluid services-space">
    <!--Line guidance-->
    <div class="container d-flex justify-content-start">
      <div class="col-1"></div>
      <div class="line-horizontal purple" id="services"></div>
    </div>
    <div class="container d-flex justify-content-start">
      <div class="col-1"></div>
      <div class="line-vertical purple adjust"></div>
    </div>
    <!--titles-->
    <div class="row">
      <div class="col-1"></div>
      <div class="col-6">
        <h2 class="services-head pt-3">My services</h2>
      </div>
      <div class="col-5"></div>
      <!--New row-->
      <div class="col-1"></div>
      <div class="col-6">
        <h3 class="title-services">The most creative intuitive workmate.</h3>
      </div>

      <!--Icon-->
      <div class="col-5"></div>
      <div class="col-2 ms-5"></div>
      <div class="col-6">
        <img
          class="img-fluid memoji"
          src="assets/images/MEMOJI1.png"
          alt="Memoji of Vishesh"/>
      </div>

      <!--Icons around-->

      <div class="container icons-first d-none d-sm-block">
        <div class="row">
          <div class="col-1 me-4"></div>
          <div class="col-3">
            <i class="fas fa-code code"></i>
          </div>
          <div class="col-1 ms-1">
            <i class="fab fa-bootstrap bootstrap"></i>
          </div>
        </div>
      </div>
      <div class="container d-none d-sm-block">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-2">
            <i class="fab fa-js-square js"></i>
          </div>
          <div class="col">
            <i class="fab fa-github github"></i>
          </div>
        </div>
      </div>
      <!--Icons skills for mobile-->
      <div class="container d-block d-sm-none">
        <div class="row d-flex justify-content-center">
          <div class="col-2 size-skill-mobile">
            <i class="fas fa-code code-mobile"></i>
          </div>
          <div class="col-2 size-skill-mobile">
            <i class="fab fa-bootstrap bootstrap-mobile floating"></i>
          </div>
          <div class="col-2 size-skill-mobile">
            <i class="fab fa-js-square js-mobile"></i>
          </div>
          <div class="col-2 size-skill-mobile">
            <i class="fab fa-github github-mobile"></i>
          </div>
        </div>
      </div>
      <!--Skills grid-->
      <div class="container-fluid">
        <div class="row">
          <!--Developer skills-->
          <div class="col-6 ms-5"></div>
          <div class="col-sm-5 skill first-space" align="left">
            <div class="container card-skills w-75">
              <i class="fas fa-mouse-pointer pe-1 mouse"></i>
              <span class="developer-title">Developer Skills</span>
              <div
                class="col description-skill developer-skills"
                align="left">
                A full knowledge of <b><i>HTML / CSS and Javascript</i></b> with Back-End of <b><i>Python</i></b>. I make
                responsive applications with <b><i>Bootstrap</i></b> and interactive UI's
                with <b><i>Angular</i></b>.
              </div>
            </div>
          </div>
          <!--UI Design-->
          <div class="col-6 ms-5"></div>
          <div class="col-sm-5 skill second-space" align="left">
            <div class="container card-skills w-75">
              <i class="fas fa-object-ungroup pe-1 design"></i>
              <span class="ui-title">UI/UX Design</span>
              <div class="col description-skill ui-design" align="left">
                A love for design and a good eye for creativity. I have
                proficiency in <b><i>wireframing, color theory and visual
                communication skills</i></b>.
              </div>
            </div>
          </div>
          <!--2D artist-->
          <div class="col-6 ms-5"></div>
          <div class="col-sm-5 skill third-space" align="left">
            <div class="container card-skills w-75">
              <i class="fas fa-lightbulb pe-1 art"></i>
              <span class="artist-title">SEO | R&D</span>
              <div
                class="col description-skill artist-description"
                align="left">
                Specialization in <b><i>Digital Marketing activities</i></b> with a good knowledge of <b><i>Project Management and Pre-Sales</i></b>.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Line vertically-->
    <div class="container">
      <div class="row">
        <div class="col-9"></div>
        <div class="col-1 ms-2">
          <div
            class="
              line-blue-vertical
              space-line-projects
              d-none d-sm-none d-md-none d-lg-block"></div>
        </div>
        <div class="col-6"></div>
        <!--Horizontal line-->
        <div class="col-2 d-none d-sm-none d-md-none d-lg-block">
          <div class="line-horizontal-project blue"></div>
        </div>
        <!--Vertical Line-->
        <div class="col-10 ms-2 d-block d-sm-block d-xl-block">
          <div class="line-blue-vertical projects-margin" id="jobs"></div>
        </div>
      </div>
    </div>
    <!--Space-->
    <div class="container moving-project-one">
      <div class="row"></div>
    </div>
    <!--My Projects container-->
    <div class="container-fluid moving-up-projects moving-project-one">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h3 class="project-title">My Jobs</h3>
        </div>
        <div class="col-1"></div>
        <div class="col-sm-10 d-flex justify-content-center">
          <h4 class="best-work">My Profiles Till Date.</h4>
        </div>
        <!--1st project-->
        <div class="col-6 d-none d-lg-block d-xl-block">
            <img
              class="project-one img-fluid"
              src="assets/images/PROFILE1.png"
              alt="Image of My Job Profile1"/>
        </div>
        <!--1st project mobile-->
        <div
          class="
            col-12
            d-flex
            justify-content-center
            d-md-block d-lg-none d-xl-none" align="center">
            <img
              class="project-one-mobile img-fluid"
              src="assets/images/PROFILE1MOBILE.png"
              alt="Image of My Job Profile1"/>
        </div>
        <!--2nd Project-->
        <div class="col-6 d-none d-lg-block d-xl-block">
            <img
              class="project-two img-fluid"
              src="
              assets/images/PROFILE2.png"
              alt="Image of My Job Profile2"/>
        </div>
        <!--2nd project mobile-->
        <div
          class="
            col-12
            d-flex
            justify-content-center
            d-md-block d-lg-none d-xl-none"align="center">
            <img
              class="project-two-mobile img-fluid"
              src="assets/images/PROFILE2MOBILE.png"
              alt="Image of My Job Profile2"/>
        </div>
        <!--Message at the bottom-->
        <div class="col-12 d-flex justify-content-center" align="center">
          <p class="curious-message">Curious about the process?</p>
        </div>
        <div class="col-12 d-flex justify-content-center visit-position">
          <a href="https://www.linkedin.com/in/vishesh-talwar-3766651b9/" target="_blank"
            ><p class="visit-message">Visit my Linkedin</p></a>
        </div>
      </div>
    </div>

    <!--Vertical Line-->
    <div class="container">
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
    <!--About me -->
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <div
            class="line-yellow-vertical space-line-projects"
            id="about"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <h3 class="about-me-title">About me</h3>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <h3 class="title-services mt-3">Welcome to My World!</h3>
        </div>
        <!--Cards of About me-->
        <div class="row margin-cards">
          <div class="col-sm-4 d-block d-sm-none d-md-none d-lg-block">
            <div class="card shadow-pink">
              <div class="card-body" align="center">
                <h5 class="card-title card-yellow">Profile</h5>
                <p class="card-info">
                  I'm a hardworking person and I enjoy taking challenges because challenges make me feel alive.
                </p>
              </div>
            </div>
          </div>
          <!--Sm for landscape-->
          <div class="col-sm-6 d-none d-sm-block d-md-none">
            <div class="card shadow-pink">
              <div class="card-body" align="center">
                <h5 class="card-title card-yellow">Profile</h5>
                <p class="card-info">
                  I'm a hardworking person and I enjoy taking challenges because challenges make me feel alive.
                </p>
              </div>
            </div>
          </div>
          <!--Mobile version -->
          <div class="col-sm-6 d-none d-md-block d-lg-none">
            <div class="card shadow-pink">
              <div class="card-body landscape-padding" align="center">
                <h5 class="card-title card-yellow">Profile</h5>
                <p class="card-info">
                  I'm a hardworking person and I enjoy taking challenges because challenges make me feel alive.
                </p>
              </div>
            </div>
          </div>
          <!--Extra Skills-->
          <div class="col-sm-4 d-block d-sm-none d-md-none d-lg-block">
            <div class="card shadow-blue">
              <div class="card-body" align="center">
                <h5 class="card-title card-blue">Education</h5>
                <p class="card-info">
                  1) BCA FROM JIMS (2020)<br />
                  2) PYTHON-DJANGO TRAINING FROM DUCAT (2019)
                </p>
              </div>
            </div>
          </div>
          <!--Sm for landscape-->
          <div class="col-sm-6 d-none d-sm-block d-md-none">
            <div class="card shadow-blue">
              <div class="card-body" align="center">
                <h5 class="card-title card-blue">Education</h5>
                <p class="card-info">
                  1) BCA FROM JIMS (2020)<br />
                  2) PYTHON-DJANGO TRAINING FROM DUCAT (2019)
                </p>
              </div>
            </div>
          </div>
          <!--Mobile version-->
          <div class="col-sm-6 d-none d-md-block d-lg-none">
            <div class="card shadow-blue">
              <div class="card-body" align="center">
                <h5 class="card-title card-blue">Education</h5>
                <p class="card-info">
                  1) BCA FROM JIMS (2020)<br />
                  2) PYTHON-DJANGO TRAINING FROM DUCAT (2019)
                </p>
              </div>
            </div>
          </div>
          <div
            class="col-sm-4 d-block d-sm-none d-md-none d-lg-block"
            align="center"></div>
          <!--2nd row of cards-->
          <div
            class="
              col-sm-4
              margin-second-cards
              d-block d-sm-none d-md-none d-lg-block">
            <div class="card shadow-purple">
              <div class="card-body" align="center">
                <h5 class="card-title card-purple">Extra Skills</h5>
                <p class="card-info">
                  I'm an all in one package of Front-End, SEO, R&D, Project Management and Pre-Sales.
                </p>
              </div>
            </div>
          </div>

          <!--Sm for landscape-->
          <div
            class="col-sm-6 margin-second-cards d-none d-sm-block d-md-none">
            <div class="card shadow-purple">
              <div class="card-body" align="center">
                <h5 class="card-title card-purple">Extra Skills</h5>
                <p class="card-info">
                  I'm an all in one package of Front-End, SEO, R&D, Project Management and Pre-Sales.
                </p>
              </div>
            </div>
          </div>
          <!--Mobile Version-->
          <div
            class="col-sm-6 margin-second-cards d-none d-md-block d-lg-none">
            <div class="card shadow-purple">
              <div class="card-body" align="center">
                <h5 class="card-title card-purple">Extra Skills</h5>
                <p class="card-info">
                  I'm an all in one package of Front-End, SEO, R&D, Project Management and Pre-Sales.
                </p>
              </div>
            </div>
          </div>
          <!--Music-->
          <div
            class="
              col-sm-4
              margin-second-cards
              d-block d-sm-none d-md-none d-lg-block">
            <div class="card shadow-green">
              <div class="card-body" align="center">
                <h5 class="card-title card-green">Music & Games</h5>
                <p class="card-info">
                  Football and Singing in my freetime. I also enjoy playing videogames as a hobby.
                </p>
              </div>
            </div>
          </div>
          <!--sm for landscape-->
          <div
            class="col-sm-6 margin-second-cards d-none d-sm-block d-md-none">
            <div class="card shadow-green">
              <div class="card-body" align="center">
                <h5 class="card-title card-green">Music & Games</h5>
                <p class="card-info">
                  Football and Singing in my freetime. I also enjoy playing videogames as a hobby.
                </p>
              </div>
            </div>
          </div>
          <!--Mobile Version-->
          <div
            class="col-sm-6 margin-second-cards d-none d-md-block d-lg-none">
            <div class="card shadow-green">
              <div class="card-body" align="center">
                <h5 class="card-title card-green">Music & Games</h5>
                <p class="card-info">
                  Football and Singing in my freetime. I also enjoy playing videogames as a hobby.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </div>
    <!--Memoji About me-->
    <div class="container d-none d-lg-block">
      <div class="row d-flex justify-content-end">
        <div class="col-3 moving-memoji">
          <img
            src="assets/images/MEMOJI2.png"
            class="memoji-about img-fluid"
            alt="icon of Vishesh"/>
        </div>
      </div>
    </div>
    <!--Memoji about me for mobile-->
    <div class="container">
      <div
        class="row d-flex justify-content-center d-block d-sm-block d-md-none"
        align="center">
        <div class="col-12 memoji-mobile">
          <img
            src="assets/images/MEMOJI2.png"
            class="img-fluid"
            alt="icon of Vishesh"/>
        </div>
      </div>
    </div>
    <!--About me quote-->
    <div class="container moving-quote-mobile">
      <div class="row" align="center">
        <div class="col-12 d-flex justify-content-center" align="center">
          <h3 class="about-me-quote">Multitalented. Intuitive. Dedicated.</h3>
        </div>
        <div
          class="col-12 moving-click d-flex justify-content-center"
          align="center">
          <p class="color-gradient-yellow">
            Wanna know more? Visit my
            <a
              href="https://www.linkedin.com/in/vishesh-talwar-3766651b9/"
              target="_blank"
              class="link-Linkedin"
              >Linkedin</a>
          </p>
        </div>
      </div>
    </div>
  </div>