<div
  class="app-splash-screen"
  [ngStyle]="{ left: windowWidth }"
  *ngIf="showSplash"
>
  <!-- <div class="app-splash-inner">
    
    <div class="app-label">My Portfolio</div>
  </div>
</div> -->

<div class="box">
  
  <div class="P">
   P
  </div>
  <div class="O">
   O
  </div>
  <div class="R">
   R
  </div>
   <div class="T">
   T
  </div>
   <div class="F">
   F
  </div>
   <div class="X">
   O
  </div>
  <div class="L">
   L
  </div>
  <div class="I">
   I
  </div>
  <div class="Z">
   O
  </div>
  <div class="underline">
  </div>
</div>
<!-- idea from -  https://itnext.io/simple-splash-screen-for-your-angular-web-apps-and-pwas-f4fbf897540b -->