<!--Quote-->
<div class="container-fluid quote hide-me" id="quote">
    <div class="container d-flex justify-content-center">
      <div class="line-yellow"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 align="center" class="size-quote first-part-quote">
          Innovation distinguishes between
        </h3>
      </div>
      <div class="col-12">
        <h3 align="center" class="size-quote second-part-quote">
          a leader and a follower.
        </h3>
        <p align="center" class="steve-jobs">- Steve Jobs</p>
      </div>
    </div>
    <!--Line vertically-->
    <div class="container d-flex justify-content-center ">
      <div class="line-vertical blue "></div>
    </div>
  </div>